html{
    font-size: 2.7em;
    color: aliceblue;
}
h1{
    color: black;
}
.titulo{
    color: black;
}
.cabecalho1{
    background-color: #BB86FC;
}
.fundo{
background-color: #424250;
}
.cabecalho2{
    background-color: #00C4B4;
}
